{% extends 'base.html.twig' %}

{% block title %}New Arme{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-top: 2%; margin-bottom: 2%">Formulaire d'ajout Arme</h1>

    {{ include('arme/_form.html.twig') }}


{% endblock %}
