{% extends 'base.html.twig' %}

{% block title %}Edit Groupe{% endblock %}

{% block body %}

    <div class="offset-3" style="margin-top: 5%;">
    <h1>Edit Groupe</h1>

        <div class="row">
            <div class="col-lg-7">
                {{ include('groupe/_form.html.twig', {'button_label': 'Update'}) }}<br>
                <a href="{{ path('groupe_index') }}" class="btn btn-info">back to list</a>
            </div>
        </div>
        
        {{ include('groupe/_delete_form.html.twig') }}

    </div>

{% endblock %}
