{% extends 'base.html.twig' %}


{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
            <div class="form-group">
                <label for="inputEmail" class="required">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="required">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-primary btn-block" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}
