{% extends 'base.html.twig' %}

{% block title %}Lecon index{% endblock %}

{% block body %}
    <h1>Lecon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lecon in lecons %}
            <tr>
                <td>{{ lecon.id }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('lecon_show', {'id': lecon.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('lecon_edit', {'id': lecon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('lecon_new') }}">Create new</a>
{% endblock %}
