{% extends 'base.html.twig' %}

{% block title %}New CommentaireObjectif{% endblock %}

{% block body %}
    <h1>Create new CommentaireObjectif</h1>

    {{ include('commentaire_objectif/_form.html.twig') }}

    <a href="{{ path('commentaire_objectif_index') }}">back to list</a>
{% endblock %}
