{% extends 'tireur/base.html.twig' %}

{% block title %}Modification Tireur{% endblock %}

{% block body %}
    <h1 style="text-align: center;margin-bottom: 2%;margin-top: 2%">Modification Tireur</h1>

    <a style="margin-bottom: 2%" class=" btn btn-lg btn-info" href="{{ path('tireur_index') }}">Retour</a>
    {{ include('tireur/_form.html.twig', {'button_label': 'Update'}) }}

{#
    {{ include('tireur/_delete_form.html.twig') }}#}
{% endblock %}
