{% extends 'base.html.twig' %}

{% block title %}New Tireur{% endblock %}

{% block body %}
    <a style="margin-top: 2%;margin-bottom: 1%" class="btn btn-info" href="{{ path('tireur_index') }}">Retour</a>
    <h1 style="text-align: center;margin-bottom: 2%;margin-top: 2%">Formulaire ajout tireur</h1>

    {{ include('tireur/_form.html.twig') }}


{% endblock %}
