{% extends 'base.html.twig' %}

{% block title %}New Arbitre{% endblock %}

{% block body %}
    <h1>Create new Arbitre</h1>

    {{ include('arbitre/_form.html.twig') }}

    <a class="btn btn-lg btn-info" href="{{ path('arbitre_index') }}">Retour</a>
{% endblock %}
