{% extends 'base.html.twig' %}

{% block title %}Edit Niveau{% endblock %}

{% block body %}
    <h1 style="text-align: center">Modification Niveau</h1>

    {{ include('niveau/_form.html.twig', {'button_label': 'Modifier'}) }}

    {#<a class="btn btn-info" href="{{ path('niveau_index') }}">Retour</a>#}

{# {{ include('niveau/_delete_form.html.twig') }} #}
{% endblock %}
