{% extends 'base.html.twig' %}

{% block title %}New Niveau{% endblock %}

{% block body %}
    <h1 style="text-align: center">Formulaire d'ajout Niveau</h1>

    {{ include('niveau/_form.html.twig') }}


{% endblock %}
